/* Responsive Breakpoints, for reference only:
   To work within media queries these would require a CSS preprocessor */
/* --breakpoint-sm: 576px; */
/* --breakpoint-md: 768px; */
/* --breakpoint-lg: 992px; */
/* --breakpoint-xl: 1200px; */
/* --breakpoint-xxl: 1400px; */

:root {
  --color-ninety-five-percent-gray: #0d0d0d;
  --color-seventy-five-percent-gray: #404040;
  --color-white: #fff;
  --color-blue-medium: #0049d1;
  --color-green-medium: #52aa6d;
  --color-orange-medium: #fc9746;
  --color-red-medium: #f53a40;
  --color-yellow-medium: #feeb39;
  --color-blue-green-medium: #35af9f;
}