@import url('./_variables');

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

.app {
  padding-top: 1rem;
  font-family: 'Varela', sans-serif;
  color: var(--color-ninety-five-percent-gray);
}

a {
  color: var(--color-text-link);
  text-decoration: inherit;
}

h1 {
  margin: .25rem;
  font-size: 1.75rem;
}

h2 {
  margin: .25rem;
  font-size: 1.5rem;
}

h3 {
  width: 100%;
  text-align: left;
  font-size: 1.25rem;
}

/* Breakpoint Small */

@media (min-width: 576px) {
  h1 {
    font-size: 2rem;
  }
}
