@import url('./_variables');

#root {
  margin: 0 auto;
  text-align: center;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  overflow-x: clip;
}

.app {
  padding-top: 1rem;
  font-family: 'Varela', sans-serif;
  color: var(--color-ninety-five-percent-gray);
}

h1 {
  padding-bottom: .25rem;
  margin: .25rem;
  font-size: 1.75rem;
}

h2 {
  margin: .25rem;
  font-size: 1.5rem;
}

h3 {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-left: 1rem;
  margin-bottom: 1.5rem;
  text-align: left;
  font-size: 1.25rem;

  > div {
    width: 100%;
    max-width: 1280px;
  }
}

/* Breakpoint Small */

@media (min-width: 576px) {
  h1 {
    font-size: 2rem;
  }

  h3 {
    padding-left: 3rem;
    margin-bottom: 3rem;
  }
}
