@import url('./_variables');

nav {
  display: flex;
  justify-content: center;
  gap: .75rem;
  padding-block: 1rem;
  margin-block: 1rem;
  font-size: 1rem;
  background-color: var(--color-ninety-five-percent-gray);
  color: var(--color-white);
}

a {
  text-decoration: inherit;
  color: var(--color-blue-medium);

  &.nav-anchor {
    color: var(--color-white);
  }
}

/* Breakpoint Small */

@media (min-width: 576px) {
  nav {
    gap: 2rem;
  }
}
