@import url('./_variables');

nav {
  position: sticky;
  top: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  gap: 2.5vw;
  padding-block: 1rem;
  margin-block: 1rem 1.5rem;
  background-color: var(--color-ninety-five-percent-gray);
}

nav a {
  padding: .5rem;
  border: 1px solid transparent;
  border-radius: .5rem;
  font-size: .875rem;
  cursor: default;
  text-decoration: inherit;
  color: var(--color-white);

  &:hover {
    border-color: var(--color-white);
    background-color: var(--color-white);
    color: var(--color-ninety-five-percent-gray);
  }
}

/* Breakpoint Small */

@media (min-width: 576px) {
  nav {
    gap: 3rem;
  }

  nav a {
    padding: .5rem 1rem;
    font-size: 1.25rem;
  }
}
